<footer>
  <div>
    <h6>©2019 Coffee101</h6>
      <div class="socials">
        <img src="/imgs/facebook.png" alt="facebooklogo">
        <img src="/imgs/instagram.png" alt="instagramlogo">
        <img src="/imgs/twitter.png" alt="twitterlogo">
        <img src="/imgs/pinterest.png" alt="pinterestlogo">
      </div>
   </div>
</footer>