<header class="flex-container">
       <a href="/shop"><img src="/imgs/coffee101logo.png" alt="logo"></a>
    <!------- Nav Header ------------>
       <nav>
        <a href="/shop/products">Coffee</a>
        <a href="">Tea</a>
        <a href="/shop/pairings">Pairings</a>
        <a href="/shop/brewguide">Brew Guides/Equipment</a>
        <a href="/shop/map">IRL Coffee</a>
    </nav>
</header>