<ul class="nav justify-content-end">
      <li class="nav item"><a href="/shop"><img class="logo" src="/imgs/coffee101logo.png" alt="logo"></a></li>
    <!------- Nav Header ------------>
    <li class="nav item"><a class="nav-link" href="/shop/products">Coffee</a></li>
    <li> <a class="nav-link" href="/shop/products">Coffee</a></li>
    <li class="nav item"> <a class="nav-link" href="/shop/pairings">Pairings</a></li>
    <li class="nav item"> <a class="nav-link" href="/shop/brewguide">Brew Guides/Equipment</a></li>
    <li class="nav item"> <a class="nav-link" href="/shop/map">IRL Coffee</a></li>
</ul>