<ul class="nav justify-content-center">
    <li class="nav item"><a class="nav-link" href="/shop/">Coffee</a></li>
    <li class="nav item"><a class="nav-link" href="/pairings">Pairings</a></li>
    <li class="nav item"><a href="/"><img class="logo" src="/imgs/coffee101logo.png" alt="logo"></a></li>
    <li class="nav item"><a class="nav-link" href="/brewguide">Brew Guides</a></li>
    <li class="nav item"><a class="nav-link" href="/map">IRL Coffee</a></li>
</ul>