<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <% include ./partials/header.ejs %>

    <h1>Brew Guide Videos</h1>
    <div class="container">
        <div class="row">
            <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/z4kQFfKfJU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/N3rwdIV4-MM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/piQEZPU94hQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gvPetTPFsZM?controls=0&amp;start=60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>   
        
        <div class="row">
           <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/tzeMZc34DTA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qIbbJV-grHg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>    

    </div>
    <% include ./partials/foot.ejs %>

</body>
</html>