<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <!------- Page Header ------------>
    <% include ./partials/header.ejs %>
    <!------- Left Column ------------>
    <div>
        <h2>Why?</h2>
            <p>Sustainablility and coffee economics have been a huge debate for the past ten or so years. Seeing large corporations take over landscapes to grow their coffee at the lowest possible price has shown the light on the sustainablility and overall economy of coffee around the globe.</p>
        <h2>Points of interest</h2>
        <ul>
            <li><a href="/shop">Coffee</a></li>
            <li><a href="/pairings">Pairings</a></li>
            <li><a href="/brewguide">Brew Guides</a></li>
            <li><a href="/map">IRL Coffee</a></li>
        </ul>
    </div>
    <!------- Right Column ------------>
    <div>
        <img class="" src="/imgs/cappuccino.jpg" alt="">
        <img src="/imgs/espressodrip.jpg" alt="">
        <img src="/imgs/pour over.jpg" alt="">
    </div>
    <% include ./partials/foot.ejs %>
 
</body>
</html>