<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <!------- Nav Header ------------>
    <nav>
            <a href="">Coffee</a>
            <a href="">Tea</a>
            <a href="">Pairings</a>
            <a href="">Brew Guides/Equipment</a>
            <a href="">IRL Coffee</a>
    </nav>
    <!------- Page Header ------------>
    <h1>Coffee 101</h1>
    <!------- Left Column ------------>
    <div class="column">
        <h2>Why?</h2>
            <p>Sustainablility and coffee economics have been a huge debate for the past ten or so years. Seeing large corporations take over landscapes to grow their coffee at the lowest possible price has shown the light on the sustainablilityand overall economy of coffee around the globe.</p><br>
        <h2>Points of interest</h2>
        <ul>
            <li><a href="">Coffee</a></li>
            <li><a href="">Tea</a></li> 
            <li><a href="">Pairings</a></li>
            <li><a href="">Brew Guides/Equipment</a></li>
            <li><a href="">IRL Coffee</a></li>
        </ul>
    </div>
    <!------- Right Column ------------>
    <div class="column">
        <img src="/imgs/cappuccino.jpg" alt="">
        <img src="/imgs/espressodrip.jpg" alt="">
        <img src="/imgs/pour over.jpg" alt="">
    </div>
    <% include ./partials/foot.ejs %>
</body>
</html>