<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <% include ./partials/header.ejs %>

    <h1>Common Coffee Pairings</h1>
    <div class='container'>
       <!-- First Row -->
        <div class="row">
            <div class="col">
                <div class="card bg-dark text-white">
                    <img src="/imgs/chocolatechipcookie.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Chocolate Chip Cookie</h5>
                    </div>
                </div>        
            </div>
            <div class="col">
                <div class="card bg-dark text-white">
                    <img src="/imgs/coffeecake.jpg" class="card-img" alt="coffee cake">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Coffee Cake</h5>
                    </div>    
                </div>
            </div>
            <div class="col">
                    <div class="card bg-dark text-white">
                        <img src="/imgs/eggsandtoast.jpg" class="card-img" alt="eggs and toast">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Eggs and Toast</h5>
                        </div>
                    </div>
            </div>
        </div>
      
        <!-- Second Row -->
        <div class="row">
            <div class="col">
                <div class="card bg-dark text-white">
                    <img src="/imgs/bananabread.jpg" class="card-img" alt="bananabread">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Banana chocolate Chip Bread</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark text-white">
                    <img src="/imgs/avocadotoast.jpg" class="card-img" alt="avocadotoast">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Avocado Toast</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark text-white">
                    <img src="/imgs/donuts.jpg" class="card-img" alt="donuts">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Puffed Pastries</h5>
                    </div>
                </div>
            </div>
        </div>
       <!-- Third Row -->

        <div class="row">
            <div class="col">
                <div class="card bg-dark text-white">
                    <img src="/imgs/smokedsalmonbagel.jpg" class="card-img" alt="smoked salmon bagel">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Smoked Salmon Bagels</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                    <div class="card bg-dark text-white">
                        <img src="/imgs/breakfastsandwich.jpg" class="card-img" alt="breakfast sandwich">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Breakfast Sandwich</h5>
                        </div>
                    </div>        
                </div>
            <div class="col">
                <div class="card bg-dark text-white">
                    <img src="/imgs/overnightoatsandfruit.jpg" class="card-img" alt="overnight oats and fruit">
                    <div class="card-img-overlay">
                    <h5 class="card-title">Overnight Oats and Fruit</h5>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <% include ./partials/foot.ejs %>
</body>
</html>