<!DOCTYPE html>
<html lang="en">
<head>
        <% include ./partials/head.ejs %>
</head>
<body>
        <% include ./partials/header.ejs %>

    <h1>Common Coffee Pairings</h1>
    <div class='container'>
       <!-- First Row -->
        <div class="row">
            <div class="col">
                <h4>Chocolate Chip Cookie</h4>
                <img src="/imgs/chocolatechipcookie.jpg" alt="coffee with cookie">
            </div>
            <div class="col">
                <h4>Coffee Cake</h4>
                <img src="/imgs/coffeecake.jpg" alt="coffee cake">
            </div>
            <div class="col">
                <h3>Eggs and Toast</h3>
                <img src="/imgs/eggsandtoast.jpg" alt="eggs and toast">
            </div>
        </div>
       <!-- Second Row -->

        <div class="row">
            <div class="col">
                <h3>Avocado Toast</h3>
                <img src="/imgs/avocadotoast.jpg" alt="avocadotoast">
            </div>
            <div class="col">
                <h3>Banana chocolate Chip Bread</h3>
                <img src="/imgs/bananabread.jpg" alt="bananabread">
            </div>
            <div class="col">
                <h3>Puffed Pastries</h3>
                <img src="/imgs/donuts.jpg" alt="donuts">
            </div>
        </div>
       <!-- Third Row -->

        <div class="row">
            <div class="col">
                <h3>Smoked Salmon Bagels</h3>
                <img src="/imgs/smokedsalmonbagel.jpg" alt="smoked salmon bagel">
            </div>
            <div class="col">
                <h3>Overnight Oats and Fruit</h3>
                <img src="/imgs/overnightoatsandfruit.jpg" alt="overnight oats and fruit">
            </div>
            <div class="col">
                <h3>Breakfast Sandwich</h3>
                <img src="/imgs/breakfastsandwich.jpg" alt="breakfast sandwich">
            </div>
        </div>

        <div>
            <h3></h3>
            <img src="/imgs/.jpg" alt="">
        </div>
    </div>
    <% include ./partials/foot.ejs %>

</body>
</html>