<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <% include ./partials/header.ejs %>

    <h1>Product Details</h1>
    Title: <%=shop.name%> <br>
    Price: <%=shop.price%> <br>
    
    <a href="/shop/products/<%=shop.id%>/edit">Edit log</a><br>

    <a href="/shop/products">Back to Products</a>


    <% include ./partials/foot.ejs %>
</body>
</html>