<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
    <h1>Placeholder title for show page</h1>
    
    

    <a href="/shop/products">Back to Products</a>


    <% include ./partials/foot.ejs %>
</body>
</html>