body {
    background-color: rgb(212, 211, 193);
    font-family: 'Proza Libra', sans-serif;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

p {
justify-content: center;
}

.socials img {
    height: 50px;
    width: 50px
}

img {
    height: 25%;
    width: 25%;
    border-radius: 10px;
}

h5.card-title{
    text-shadow: 2px 2px 7px black;
    box-shadow: -10px 2px 7px sienna;
}
img.card {
    max-height: 490px;
    margin-bottom: 5px;
}
div.col{
    padding: 15px;
}
.logo {
    height: 75px;
    width: 75px;
    border-radius: 0px;
}

ul {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: black;
}

.video {
    float: left;
    width: 46%;
    margin: 0 2% 4%;
}

footer {
    text-align: center;
}